table,td,th{
    border: 1px solid black;
}

thead td{
    font-weight: bold;
}

td,th{
    text-align: center;
}
table{
    border-collapse: collapse;
}

tr th:first-child{
    background-color: green;
}

thead td:first-letter{
    font-size: 30px;
}

td:last-child:hover{
    font-size: 30px;
    transition: 500ms;
}

caption a{
    text-decoration: none;
}

caption a:link{
    color: green;
}

caption a:visited{
    color: red;
}

tr:nth-child(5) td{
    background-color: yellow;
}

button{
    margin-top: 10px;
}

label::after{
    content: "*";
    color: red;
}

input{
    border: 1px solid red;
    padding: 5px;
    width: 180px;
    height: 25px;
}

input::placeholder{
    text-align: center;
}

button{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}